{% extends 'maintemplate.html' %} {% block title %} تاریخچه {% endblock title %} {% block content %}
<div class="border_top">
    <ul>
        <i class="fa fa-institution	
        "></i>
        <li id="f">
            تاریخچه باغ فردوس
        </li>
    </ul>
</div>
<div class="history">
    <h5> باغ فردوس </h5>
    <hr>
    <p>
        باغ فردوس محله‌ای در شمیران که در نزدیکی خیابان ولیعصر و میدان تجریش واقع شده‌است. اکنون موزه سینمای ایران در این مکان واقع است. از شمال به میدان تجریش و ابتدای خیابان ولیعصر، از جنوب به بزرگراه مدرس و خیابان فرشته از شرق به خیابان دربندی و انتهای آفریقا
        و از غرب به خیابان ولیعصر و پل پارک وی محدود می‌گردد. این محله در تهران قدیم وسیع‌تر بوده‌است از سمت شمال به پل تجریش از سمت جنوب به پارک وی، از سمت شرق به رودخانه و از سمت غرب به خیابان ولیعصر منتهی شده‌است.
        <br>
        <img src="{{media_url}}image/places/history/garden.jpg" class="img_history" alt="pic">

    </p>
    <br>

    <h5>تاریخچه باغ فردوس </h5>
    <hr>
    <p>
        به دستور محمدشاه قاجار، در سال ۱۲۶۴ ق، قصری برای او در نزدیکی تجریش ساخته شد؛ اما همزمان با بیماری و مرگ او قصر نیمه‌تمام ماند و وی در همان قصر نیمه‌تمام به نام محمدیه از دنیا رفت. هم‌زمان با ساخت قصر محمدیه، درباریان نزدیک به او نیز در همان حوالی اقدام
        به احداث باغ یا عمارت ییلاقی کردند. از جمله حسینعلی‌خان معیرالممالک باغی احداث کرد که به باغ فردوس مشهور شد. عمارت باغ فردوس در دو طبقه به سبک قاجاریه و معروف به گوش فیل بنا گذاشته شد. زمین‌های قسمت جنوبی و سراشیبی باغ نیز با سنگ‌چین‌هایی به صورت
        هفت قطعه مسطح و مطبق درآمد و روی هریک از قطعات، استخری با فواره‌های متعدد احداث شد. استخرها به گونه‌ای ساخته شده بودند که از فواصل دورتر، بزرگ‌تر به نظر می‌آمدند. سپس، دوستعلی‌خان نظام‌الدوله، پسر حسین‌علی‌خان، به همت معماران اصفهانی و یزدی، ساختمانی
        در قسمت جنوبی باغ برپا کرد و نام آن را رشک بهشت گذاشت. پلکان و بخش‌های دیگری از ساختمان از مرمر اعلای یزد و دیوارهای داخل اتاق با کاغذهای طلایی برجسته پوشانده شده بود؛ اما پسرش دوستمحمدخان معیرالممالک اعتنای چندانی به باغ و ساختمان آن نکرد و با
        گذشت زمان ساختمان رو به خرابی گذاشت تا حدی که سنگ‌های مرمر آن کنده و به عمارت امیریه (مدرسه‌نظام) برده شد. بعد از آن مالکیت باغ چند بار دست به دست شد تا سرانجام در سال ۱۳۱۸ ق، در زمان سلطنت مظفرالدین شاه قاجار، محمدولی‌خان سپهسالار تنکابنی آن
        را از ورثه امین‌الملک خرید. سپهسالار، علاوه بر ایجاد فواره و استخرهای مطبق، قنات باغ فردوس را نیز احیا کرد و سر دری با شکوه در مظهر قنات (میدان گاه فعلی باغ فردوس) ساخت؛ ولی به دلیل بدهی به تجارت‌خانه طومانیانس، باغ را به او داد و طومانیانس نیز
        باغ را در ازای بدهی به دولت رضاخان واگذار کرد. سرانجام در سال ۱۳۱۶ ش، وزارت معارف (آموزش و پرورش) آن‌جا را خرید و ساختمان را مرمت و دبیرستان شاپور تجریش را در آن تأسیس کرد در سال ۱۳۵۰ ساختمان موجود در باغ به مرکز فرهنگی و هنری و نمایشگاهی تبدیل
        شد و پس از انقلاب نیز در اختیار وزارت فرهنگ و ارشاد اسلامی قرار گرفت. مساحت باغ فردوس ۲۰۰۰۰ متر مربع و طول آن ۲۸۰ متر و شیب آن از شمال غربی به جنوب شرقی است. هم‌چنین، دکتر محمود افشار یزدی در سال ۱۳۱۶، قسمتی از باغ و ساختمان اندرونی را که حدود
        ۶۰۰۰ متر مربع بود، خرید و به تدریج با خریدن قطعات اطراف، مساحت باغ را به ۱۲۰۰۰ متر مربع رسانید. سپس در سال ۱۳۳۷، باغ و ساختمان‌های داخل آن را وقف امور فرهنگی کرد؛ از جمله در سال ۱۳۵۲ قسمتی از آن برای استقرار مؤسسه لغت نامه دهخدا و مؤسسه باستان‌شناسی
        به دانشگاه تهران واگذار شد که هم‌چنان دایر است. ز تاریخ دقیق بنای باغ و ساختمان اطلاع دقیقی دردست نیست اما مستندات روایی حکایت از آن دارد که این باغ در زمان محمدشاه قاجار ساخته شده است.پس از فوت نظام الدوله مالک باغ ،پسرش دوستعلی خان معییر الممالک
        داماد ناصرالدین شاه شد.او بر اساس آنچه روایت کرده اند به این باغ و عمارتش اهمیتی نمی داد تا اینکه باغ رو به ویرانی گذاشت
        <br>
        <img src="{{media_url}}image/places/history/file.jpg" class="img_history" alt="pic">


    </p>
    <br>
    <h5>عمارت باغ فردوس </h5>
    <hr>
    <p>
        عمارت باغ فردوس در دو طبقه به سبک قاجاریه و معروف به گوش فیل بنا گذاشته شد. زمین‌های قسمت جنوبی و سراشیبی باغ نیز با سنگ‌چین‌هایی به صورت هفت قطعه مسطح و مطبق درآمد و روی هریک از قطعات، استخری با فواره‌های متعدد احداث شد. استخرها به گونه‌ای ساخته شده
        بودند که از فواصل دورتر، بزرگ‌تر به نظر می‌آمدند. سپس، دوستعلی‌خان نظام‌الدوله، پسر حسین‌علی‌خان، به همت معماران اصفهانی و یزدی، ساختمانی در قسمت جنوبی باغ برپا کرد و نام آن را رشک بهشت گذاشت. پلکان و بخش‌های دیگری از ساختمان از مرمر اعلای یزد
        و دیوارهای داخل اتاق با کاغذهای طلایی برجسته پوشانده شده بود؛ اما پسرش دوستمحمدخان معیرالممالک اعتنای چندانی به باغ و ساختمان آن نکرد و با گذشت زمان ساختمان رو به خرابی گذاشت تا حدی که سنگ‌های مرمر آن کنده و به عمارت امیریه (مدرسه‌نظام) برده شد.
        بعد از آن مالکیت باغ چند بار دست به دست شد تا سرانجام در سال ۱۳۱۸ ق، در زمان سلطنت مظفرالدین شاه قاجار، محمدولی‌خان سپهسالار تنکابنی آن را از ورثه امین‌الملک خرید. سپهسالار، علاوه بر ایجاد فواره و استخرهای مطبق، قنات باغ فردوس را نیز احیا کرد
        و سر دری با شکوه در مظهر قنات (میدان گاه فعلی باغ فردوس) ساخت؛ ولی به دلیل بدهی به تجارت‌خانه طومانیانس، باغ را به او داد و طومانیانس نیز باغ را در ازای بدهی به دولت رضاخان واگذار کرد. سرانجام در سال ۱۳۱۶ ش، وزارت معارف (آموزش و پرورش) آن‌جا را
        خرید و ساختمان را مرمت و دبیرستان شاپور تجریش را در آن تأسیس کرد در سال ۱۳۵۰ ساختمان موجود در باغ به مرکز فرهنگی و هنری و نمایشگاهی تبدیل شد و پس از انقلاب نیز در اختیار وزارت فرهنگ و ارشاد اسلامی قرار گرفت. مساحت باغ فردوس ۲۰۰۰۰ متر مربع و طول
        آن ۲۸۰ متر و شیب آن از شمال غربی به جنوب شرقی است. هم‌چنین، محمود افشار یزدی در سال ۱۳۱۶، قسمتی از باغ و ساختمان اندرونی را که حدود ۶۰۰۰ متر مربع بود، خرید و به تدریج با خریدن قطعات اطراف، مساحت باغ را به ۱۲۰۰۰ متر مربع رسانید. سپس در سال ۱۳۳۷،
        باغ و ساختمان‌های داخل آن را وقف امور فرهنگی کرد؛ از جمله در سال ۱۳۵۲ قسمتی از آن برای استقرار مؤسسه لغت نامه دهخدا و مؤسسه باستان‌شناسی به دانشگاه تهران واگذار شد که هم‌چنان دایر است.
        <br>

    </p>
    <br>
</div>

{% endblock content %}